adf_resources/pipeline/medallion_pipeline.json
{
	"name": "medallion_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Set_file_name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FetchAllTables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set_file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [medallion-db-dev].information_schema.tables\nWHERE table_schema = 'SalesLT' AND table_type = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_TablesQuery",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FetchAllTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FetchAllTables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyTableData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_SqlTable",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ParquetFileOutput",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@variables('file_name')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().table_schema, '.', item().table_name, '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Append_tables",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "CopyTableData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "processedTables",
								"value": {
									"value": "@json(concat('{\"schema\":\"', item().table_schema, '\",\"table\":\"', item().table_name, '\",\"file_name\":\"', variables('file_name'), '\"}'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEachTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/medallionWorkspace/BaseNotebook",
					"baseParameters": {
						"tablesList": {
							"value": "@string(variables('processedTables'))",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"processedTables": {
				"type": "Array",
				"defaultValue": []
			},
			"file_name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-29T16:41:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}